* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;

  }
  
  :root {
    --nav-background: #CAD1C5;
    --primary: #2F3E46;
    --secondary: #B5C5CD;
    --background: #3e5a53;
    --location: #414141;
    --border: #2A3840;
    --border-nav: #60635E;
  }
  
  body {
    background: linear-gradient(90deg, hsla(165, 18%, 30%, 1) 0%, hsla(165, 20%, 38%, 1) 50%);
    overflow-x: hidden;
  }
  
  nav {
    align-items: center;
    background-color: var(--nav-background);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: var(--border-nav) solid 3px;
  }
  
  .logo {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
    text-transform: capitalize;
    color: #343434;
    text-align: center;
    cursor: pointer;
  }
  
  .logo img {
    margin-right: 1rem;
    width: 7rem;
    height: auto;
  }
  
  .search-container {
    position: relative;
  }
  
  .search {
    outline: none;
    background-color: var(--primary);
    width: 400px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.8rem;
    padding-left: 1rem;
    height: 35px;
  }

  .search::placeholder{
    text-align: center;
    color: rgb(160, 160, 160);
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-70%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .location-nav {
    margin-right: 4rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    color: var(--location);
    cursor: pointer;
  }
  
  /* main {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  } */
  
  .main-container {
    gap: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .second-main-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 5rem;
  }
  
  .weather-container {
    margin-top: 3rem;
    width: 40%;
    background-color: var(--primary);
    border: solid 2px var(--border);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .date {
    font-size: 1.8rem;
    color: var(--secondary);
    font-weight: 500;
  }
  
  .temp {
    font-size: 6rem;
    color: white;
    margin-top: 2rem;
  }
  
  .desc {
    font-size: 1.8rem;
    color: white;
  }
  
  .max-min {
    font-size: 1.8rem;
    color: white;
    margin-top: 1rem;
  }
  
  .max-min span {
    font-size: 1.8rem;
  }
  
  .flag {
    background-color: var(--primary);
    margin-top: 3rem;
    border: solid 2px var(--border);
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  
  .flag p {
    font-size: 2rem;
    color: var(--secondary);
    margin-top: 2rem;
  }
  
  .flag img {
    width: 14rem;
    height: 10rem;
    border-radius: 10px;
    margin-top: 3rem;
  }
  
  .general-info-container {
    background-color: var(--primary);
    border: solid 2px var(--border);
    border-radius: 20px;
    width: 40%;
    color: var(--secondary);
    /* height: 400px; */
  }
  
  .general-info {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;

    
  }
  
  .desc-weather {
    font-size: 1.8rem;
  }
  
  .feels-like {
    font-size: 6rem;
    color: white;
  }
  
  .feels-like-desc {
    font-size: 1.5rem;
  }
  
  .tables {
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .tables table tr td {
    padding: 1rem;
  }
  
  .tables table tr td:nth-child(2) {
    text-transform: capitalize;
    padding-left: 0;
  }
  
  .tables table tr td:nth-child(3) {
    color: rgb(255, 255, 210);
    text-align: right;
    font-weight: 600;
  }
  
  .tables table tr {
    position: relative;
  }
  
  .tables table tr::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
  }
  
  .img {
    width: 20%;
    background-color: var(--primary);
    border: solid 5px var(--border);
    border-radius: 20px;
    position: relative;
    /* height: 420px; */
  }
  
  .unsplash {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(80%);
  }
  
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .hidden{
    display: none;
  }

/* .spinner-grow{
    font-size: 2rem;
    margin: 10rem;
} */
  
.spinner-container {
  /* display: none; */
  height: 75vh;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.text-center.spinner-container{
  display: none;
}

.spinner-container.active {
  display: flex; /* Exibe o spinner quando a classe "active" é adicionada */
}

.loading-page{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hide{
  display: none;
}

@media (max-width: 1300px) {
  .tables{
    font-size: 1.4rem;
  }
  .tables table tr td{
    padding: 6px;
  }
}
@media (max-width: 1100px) {
  .tables{
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  .tables{
    font-size: 1.5rem;
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .main-container{
    flex-direction: column;
    align-items: center;
  }
  .flag{
    width: 40%;
    margin: 0;
  }
  .flag img{
    width: 60%;
    height: 60%;
    margin: 0 0 2rem 0;
    /* padding-bottom: 1rem; */
  }
  .second-main-container{
    flex-direction: column;
    align-items: center;
  }
  .weather-container{
    gap: 0;
    padding: 2rem 0 0 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .weather-container p{
    font-size: 2.5rem;
    margin: 0;
  }
  .weather-container h1{
    font-size: 8rem;
  }
  .img {
    width: 40%;
    height: 500px;
    /* position: relative; */
    /* height: 420px; */
  }
  .logo{
    display: none;
  }
  .location-nav{
    display: none;
  }
  .search-container{
    margin: auto;
  }
  
}
@media (max-width: 550px) {

}