*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root{
    --nav-background: #CAD1C5;
    --primary: #2F3E46;
    --secondary: #B5C5CD;
    --background: #52796F;
    --location: #414141;
    --border: #2A3840;
    --border-nav: #60635E;
}

body{
    background-color: var(--background);
}

nav{
    align-items: center;
    background-color: var(--nav-background);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    border-bottom: var(--border-nav) solid 3px;
}

.logo{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
    text-transform: capitalize;
    color: #343434;
    text-align: center;
    cursor: pointer;
}

.logo img{
    margin-right: 1rem;
    width: 7rem;
    height: auto;
}

.search-container {
    position: relative;
  }

.search{
    outline: none;
    background-color: var(--primary);
    width: 400px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.8rem;
    padding-left: 1rem;
    height: 35px;
}
  
.search-icon {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-70%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.location-nav{
    margin-right: 4rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    color: var(--location);
    cursor: pointer;
}

main{
    width: 100vw;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.weather-container{
    margin-top: 5.5rem;
    /* width: 600px; */
    width: 40%;
    background-color: var(--primary);
    border: solid 2px var(--border);
    border-radius: 20px;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
}

.date{
    font-size: 1.8rem;
    color: var(--secondary);
    font-weight: 500;
}

.temp{
    font-size: 6rem;
    color: white;
    margin-top: 2rem
}

.desc{
    font-size: 1.8rem;
    color: white;
}

.max-min{
    font-size: 1.8rem;
    color: white;
    margin-top: 1rem;
}

.max-min span{
    font-size: 1.8rem;
}


.flag{
    background-color: var(--primary);
    margin-top: 5.5rem;
    border: solid 2px var(--border);
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.flag p {
    font-size: 2rem;
    color: var(--secondary);
    margin-top: 2rem;
}

.flag img{
    width: 14rem;
    height: 10rem;
    border-radius: 10px;
    margin-top: 3rem;
}

